.container-posts {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.container-create-posts {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  font-weight: bold;
}

.container-create-posts button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  font-size: 1.5rem;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-create-posts p {
  font-size: 1.2rem;
  margin-top: 10px;
  color: #333;
}

.posts {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
  max-width: 800px;
}

.paginacion {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 10px;
}

.paginacion button {
  background-color: rgb(10, 41, 66);
  color: white;
  border: none;
  padding: 10px 15px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
}

.paginacion span {
  font-size: 1rem;
  color: #333;
}

.paginacion button:disabled {
  background-color: #ddd;
  cursor: not-allowed;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.new_postal {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  position: relative;
  animation: fadeIn 0.3s ease-in-out;
}

